@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");

body {
	font-family: "Roboto Slab", serif;
    font-size: 1em;
}

header, h2, input, button {
    color: #db0c28;
}

header, footer {
	position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

header {
    top: 0;
	background-color: #71b0e5;
	font-size: 1.1em;
}

main {
    width: 75%;
    padding: 120px;
    margin: auto;
}

h2 {
	border-bottom: 5px solid #71b0e5;
}

article {
    padding-left: 10px;
    padding-right: 10px; 
}

article, .content-child {
    color: #985c3a;
}

input, button {
    width: 20%;
    padding: 10px;
}

pre, input, button {
    font-family: "Roboto Slab", serif;
}

input, button, .content-child {
    font-size: .8em;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #71b0e5;
    opacity: .5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #71b0e5;
    opacity: .5;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #71b0e5;
    opacity: .5;
}

#content {
    display:flex;
    flex-flow: row;
    justify-content: space-around;
}

.content-child {
    max-width: 33%;
}

footer {
    position: relative;
    font-size: .85em;
    background-color: #985c3a;
    color: white;
}

.hidden {
	display: none;
}