@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
body {
  font-family: "Roboto Slab", serif;
  font-size: 1em;
}

h1,
h2,
input,
button {
  color: #db0c28;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

main {
  width: 75%;
  padding: 120px;
  margin: auto;
}

h2 {
  border-bottom: 5px solid #71b0e5;
}

article {
  padding-left: 10px;
  padding-right: 10px;
}

article,
.content-child,
a {
  color: #985c3a;
}

input,
button {
  width: 30%;
  padding: 10px;
}

pre,
input,
button {
  font-family: "Roboto Slab", serif;
}

input,
button,
.content-child {
  font-size: .8em;
}

#related-artists {
  margin-bottom: 0px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #71b0e5;
  opacity: .5;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #71b0e5;
  opacity: .5;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #71b0e5;
  opacity: .5;
}

#content-container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.content-child {
  max-width: 33%;
  overflow: hidden;
}

footer {
  position: relative;
  font-size: .85em;
  background-color: #985c3a;
  color: white;
}

.hidden {
  display: none;
}

h1 {
  padding: 10px;
  top: 0;
  float: left;
  font-size: 30px;
}

.site-title {
  float: left;
}

.topnav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  background-color: #71b0e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topnav .search-container {
  float: right;
}

.search-container {
  margin-left: 30px;
}

.site-title {
  margin-right: 30px;
}

.topnav input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #985c3a;
  color: white;
}